
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #5da1d7;
    --secondary-color: #000000 ;
    --accent1-color: #ffffff;
    --hover-color: #000000 ;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Jersey 25";
    --paragraph-font: "Noto Serif Display", serif, sans-serif;
  }

  body {
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    font-size: 20px;
    text-align: center;
    background-color: var(--primary-color);
  }

  .list {
    text-align: left;
    max-width: 500px;
    font-weight: bold;
  }

  h1 {
    color: var(--accent1-color);
}

h1:hover {
    color:  var(--hover-color);
}

.quote1 {
    color: var(--accent1-color);
}

.quote2 {
    color: var(--accent1-color);
    font-size: 30px;
    max-width: 300px;
    margin: 0 auto;
}

.footer {
    font-weight: bold;
}
