body {
    background-color: black;
    margin: 0; 
    padding: 0; 
}

.card {
    width: 250px;
    margin: 0 auto;
    background-color: white;
}

.headerimage {
    width: 100%;
}

.awesomearticle {
    padding: 10%;
    text-align: center;
    color: grey;
}

.subheading, .heading {
    text-align: center;
}

.subheading {
    color: #5b749c;
}

.info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 250px;
    margin: 0 auto; 
    border-top: 1px solid white;
}

.box {
    background-color: #5b749c;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-top: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box:first-child {
    border-left: none;
}

.box:last-child {
    border-right: none;
}

.box h2 {
    margin: 0;
    font-size: 24px;
}

.box p {
    margin: 5px 0;
    font-size: 14px;
}
