/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* Setting root variables */
:root {
  --primary-color: #D9984A;
  --secondary-color: #BF843B;
  --accent1-color: #593F1E;
  --accent2-color: #0D0D0D;
  
  --heading-font: "Jersey 25";
  --paragraph-font: "Noto Serif Display", serif, sans-serif;
  
  --headline-color-on-white: #593F1E;
  --headline-color-on-color: #D9984A;
  --paragraph-color-on-white: #593F1E;
  --paragraph-color-on-color: #D9984A;
  --paragraph-background-color: #FFFFFF;
}

/* General styles */
body {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  background-color: var(--accent2-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--accent1-color);
  color: var(--headline-color-on-color);
  padding: 1em;
  text-align: center;
}

.logo {
  width: 100px; /* Adjust size as needed */
}

nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  color: var(--headline-color-on-color);
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 18px;
}

nav a:hover {
  color: var(--accent1-color);
  background-color: var(--headline-color-on-color);
}

main {
  padding: 20px;
}

h2 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}

footer {
  background-color: var(--accent1-color);
  color: var(--headline-color-on-color);
  text-align: center;
  padding: 20px;
}

.social {
  margin-top: 20px;
}

.social a {
  margin: 0 10px;
}

.social img {
  width: 40px; /* Adjust size as needed */
}

/* Images */
.about-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shop-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    display: block;
  }
  
  nav a {
    display: block;
    margin: 5px 0;
  }
  
  .social a {
    display: block;
    margin: 10px auto;
  }
}
