body{
    margin:0;
    text-align: center;
}



a:link {
color: red;
}

a:hover {
    background-color: black;
    color: white;
}

a {
    font-size: 1.5em;
}

img {
    width: 40%;
}

main p {
    width: 80%;
    margin: 0 auto;
}

nav, footer {
    background-color: grey;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}